*{
    margin: 0;
    padding: 0;
}
body{
    background:#591D1D;
}
.input-group-text{
    background: #0dcaf0;
    color: white;
}
#btn{
    margin: 3% 25%;
    padding: 1.5% 20%;
}
.input-group,.input-group-lg{
    margin: 2%;
}
#C1{
    left: 0;
    padding:8% 3%;
}
#C2{
    right: 0;
    padding:3%;
}
#C1,
#C2{
    background: #F2F2F2;
    margin: 0 3%;
    border: solid 2px white;
    border-radius: 40px;
    width: 45%;
    height: 440px;
    position: absolute;
    top: 5%;
    box-shadow:10px 5px 5px black;
}
#C2{
    overflow-y: scroll;
}
#C2::-webkit-scrollbar{
    width: 15px;
}
#C2::-webkit-scrollbar-thumb{
    background: #0dcaf0;
    border-radius: 30px;
}
footer{
    position: absolute;
    background: #F2A922;
    bottom: 0;
    width: 100%;
    height: 22%;
}
footer ul{
    list-style: none;
    padding: 2%;
    width: 30%;
}
footer ul li{
    display: inline-block;
    padding: 0 10%;
    size: 100px;
}
#img{
    position: absolute;
    right: 30%;
    top: 5%;
    width: 8%;
}
footer a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #202229
}
footer a:hover{
    color: white;
}

@media screen and (max-width: 800px){
   
    #C1,
    #C2{
        position: relative;
        max-width: 100%;
        min-width: 100%;
        margin: 10% 0;
        padding: 10%;
    }
    #C2{
        height:auto;
        overflow-y:hidden;
    }
}